.bigCounter div{
    display:flex;
    font-size: 600px;
    line-height: 20px;
    height: 20px;
    background: black;
    color: white;
    padding: 60px;
    text-align: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

 .card{
    width: 11%;
    padding-left: 4px;
    border:  solid black;
}

h1{
    font-weight: 400;
    font-size: 700%;
}



